@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  --beige: #f5efe6;
  --white: #fff;
  --debattblue: #e7eeff;
  --blue: #2651c5;
  --darkgray: #a2a2a2;
  --burgundy: #991f2e;
  --orange: #ff6900;
  --rorslared: #d3001a;
  --teal: #00cccc;
  --black: #212121;
  --green: #267e41;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--beige);
  margin: 0;
  padding: 0;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1020px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
small {
  margin: 0;
  line-height: 110%;
  font-family: "Source Sans 3", sans-serif;
}
